@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  background: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 100%;
  height: auto;
}

.navbar {
  max-width: 100%;
  margin: auto;
  background-color: #8c8d8f;
  height: 70px;
  text-align: center;
}

.navbar button {
  background-color: #8c8d8f;
  border: none;
  margin-top: 10px;
  margin-right: 20px;
}

.navbar button:hover {
  background-color: #236357;
}

.navbar button a {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.Header h2 {
  font-family: "Playfair Display", serif;
  font-size: 2em;
  text-align: center;
}

.Paragraph {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  line-height: 2em;
  padding: 0 1em;
}

@media only screen and (max-width: 400px) {
  .Paragraph {
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 0;
  }
}

.Paragraph a {
  color: black;
  font-style: italic;
}

.header {
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  text-align: center;
}
